head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  block title
    title group2_vp3-loftSchool
  
  meta(name="description", content="group2_vp3-loftSchool")
  meta(name="keywords", content="group2_vp3-loftSchool")
  meta(name="author", content="group2_vp3-loftSchool") 

  link(rel='shortcut icon', href='/favicon.ico', type="image/x-icon")
  link(rel='icon', href='/favicon.ico', type="image/x-icon")
  
  <!-- build:css css/vendor.min.css -->
  // bower:css
  link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
  // endbower 
  <!-- endbuild -->
  
  <!-- build:css fonts/fonts.min.css -->
  <!-- endbuild -->

  <!-- build:css css/main.min.css -->
  link(rel="stylesheet", href="css/main.css") 
  <!-- endbuild -->

  <!-- build:js js/modernizr.min.js -->
  script(src="bower/modernizer/modernizr.js")
  <!-- endbuild -->